.Rproj.user
.Rhistory
.RData
.Ruserdata
*.png
.testing.Rmd
.testing.html
.Figures.Rmd
.Figures.html
.Figures_files
.testing.Rmd
.Rscript_results.html
.Rcript_results_original.Rmd
.articles.csv
.Rscript_results_revision_files